# Ignorar archivos de configuración sensibles
.env
/Ent
/.vent
.venv
Ent/
.venv/
/Ent
/.vent
.venv
.env
.env
.env
*.pyc
__pycache__/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm

# React build artifacts
**/react-build/

# IDE
.vscode/
.idea/
