<!DOCTYPE html>
<html lang="english">

<head>
  <title>Asignación de Cabañas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <meta property="twitter:card" content="summary_large_image" />

  <style data-tag="reset-style-sheet">
    html {
      line-height: 1.15;
    }

    body {
      margin: 0;
    }

    * {
      box-sizing: border-box;
      border-width: 0;
      border-style: solid;
      -webkit-font-smoothing: antialiased;
    }

    p,
    li,
    ul,
    pre,
    div,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    figure,
    blockquote,
    figcaption {
      margin: 0;
      padding: 0;
    }

    button {
      background-color: transparent;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
      font-family: inherit;
      font-size: 100%;
      line-height: 1.15;
      margin: 0;
    }

    button,
    select {
      text-transform: none;
    }

    button,
    [type="button"],
    [type="reset"],
    [type="submit"] {
      -webkit-appearance: button;
      color: inherit;
    }

    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
      border-style: none;
      padding: 0;
    }

    button:-moz-focus,
    [type="button"]:-moz-focus,
    [type="reset"]:-moz-focus,
    [type="submit"]:-moz-focus {
      outline: 1px dotted ButtonText;
    }

    a {
      color: inherit;
      text-decoration: inherit;
    }

    input {
      padding: 2px 4px;
    }

    img {
      display: block;
    }

    details {
      display: block;
      margin: 0;
      padding: 0;
    }

    summary::-webkit-details-marker {
      display: none;
    }

    [data-thq="accordion"] [data-thq="accordion-content"] {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;
      padding: 0;
    }

    [data-thq="accordion"] details[data-thq="accordion-trigger"][open]+[data-thq="accordion-content"] {
      max-height: 1000vh;
    }

    details[data-thq="accordion-trigger"][open] summary [data-thq="accordion-icon"] {
      transform: rotate(180deg);
    }

    html {
      scroll-behavior: smooth
    }
  </style>
  <style data-tag="default-style-sheet">
    html {
      font-family: Inter;
      font-size: 16px;
    }

    body {
      font-weight: 400;
      font-style: normal;
      text-decoration: none;
      text-transform: none;
      letter-spacing: normal;
      line-height: 1.15;
      color: var(--dl-color-theme-neutral-dark);
      background: var(--dl-color-theme-neutral-light);

      fill: var(--dl-color-theme-neutral-dark);
    }
  </style>
  <link rel="stylesheet" href="https://unpkg.com/animate.css@4.1.1/animate.css" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    data-tag="font" />
  <link rel="stylesheet" href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&display=swap" />
</head>

<body>
  <link rel="stylesheet" href="{{ url_for('static', path='css/cabana.css') }}">
  <div>
    <link href="./index.css" rel="stylesheet" />
    <div class="cabaas-container10">
      <div class="cabaas-cabaas">
        <div class="cabaas-nav-bar">
          <div class="cabaas-container11">
            <div class="cabaas-logo"><span class="cabaas-text10">Luckas</span></div><span
              class="cabaas-text11">ent</span>
          </div>
          <div class="cabaas-textfield1">
            <form action="/buscar" method="get" style="display: flex; align-items: center; width: 100%;">
              <input type="text" name="query" placeholder="Ingresa algo que no encuentres"
                class="cabaas-search-input" />
              <button type="submit" class="cabaas-search-button">
                <img src="{{ url_for('static', path='img/icsearch5156-p2nu.svg') }}" alt="Buscar"
                  class="cabaas-icsearch" />
              </button>
            </form>
          </div>
          <div class="cabaas-navigation">
            <div class="cabaas-frame427318917"></div><span class="cabaas-text13">Inicio</span><span
              class="cabaas-text14">Nostros</span>
            <div class="cabaas-frame427318918"><span class="cabaas-text15">Perfil</span><img
                src="public/external/personoutline5156-w9dj.svg" alt="personoutline5156" class="cabaas-personoutline" />
            </div>
          </div>
        </div>
        <div class="cabaas-section1">
          <div class="cabaas-slide-list">
            <div class="cabaas-slide-item4">
              <img src="{{ url_for('static', path='img/unsplashs3ejzlra4ywi5255-bzss-200h.png') }}" alt="Imagen 1"
                class="cabaas-unsplashs3-ejz-lra4-yw" />
            </div>
            <div class="cabaas-slide-item3">
              <img src="{{ url_for('static', path='img/unsplashxfngapdtoei5255-f8rr-200h.png') }}" alt="Imagen 2"
                class="cabaas-unsplashxfngap-d-to-ei" />
            </div>
            <div class="cabaas-slide-item5">
              <img src="{{ url_for('static', path='img/unsplashyffgke3y4f8i5255-k6ak-200h.png') }}" alt="Imagen 3"
                class="cabaas-unsplash-yff-gk-e3y4f8" />
            </div>
            <div class="cabaas-slide-item2">
              <img src="{{ url_for('static', path='img/unsplashg30p1zcozxoi5255-cng5-200h.png') }}" alt="Imagen 4"
                class="cabaas-unsplashg30p1zc-oz-xo" />
            </div>
            <div class="cabaas-slide-item1">
              <img src="{{ url_for('static', path='img/unsplashcqblg3lzepki5255-1qus-300h.png') }}" alt="Imagen 5"
                class="cabaas-unsplashcqb-lg3l-z-epk" />
            </div>
          </div>
        </div>
        <div class="cabaas-section2">
          <div class="cabaas-avatar1"></div>
          <div class="cabaas-container12"><span class="cabaas-text16">Cabaña 12</span>
            <div class="cabaas-selection1">
              <div class="cabaas-labelnormal1"><span class="cabaas-text17">Capacidad: 4 personas</span></div>
            </div><span class="cabaas-text18">Cabaña ubicada en zona tranquila con vista al lago</span>
          </div>
          <div class="cabaas-container13">
            <div class="cabaas-container14"></div><button type="button" class="cabaas-button1 button"
              href="{{ url_for('productlista') }}">Ver Detalles</button>
          </div><img src="public/external/vector2005156-9rj.svg" alt="Vector2005156" class="cabaas-vector2002" />
        </div>
        <div class="cabaas-section3">
          <div class="cabaas-avatar2"></div>
          <div class="cabaas-container15"><span class="cabaas-text19">Cabaña 11</span>
            <div class="cabaas-selection2">
              <div class="cabaas-labelnormal2"><span class="cabaas-text20">Capacidad: 4 personas</span></div>
            </div><span class="cabaas-text21">Cabaña ubicada en zona tranquila con vista al lago</span>
          </div>
          <div class="cabaas-container16"><button type="button" class="cabaas-button2 button">Ver Detalles</button>
          </div><img src="public/external/vector2005156-l74p.svg" alt="Vector2005156" class="cabaas-vector2003" />
        </div>
        <div class="cabaas-section4">
          <div class="cabaas-avatar3"></div>
          <div class="cabaas-container17"><span class="cabaas-text22">Cabaña 10</span>
            <div class="cabaas-selection3">
              <div class="cabaas-labelnormal3"><span class="cabaas-text23">Capacidad: 6 personas</span></div>
            </div><span class="cabaas-text24">Cabaña ubicada en zona tranquila con vista al lago</span>
          </div><button type="button" class="cabaas-button3 button">Ver Detalles</button><img
            src="public/external/vector2005156-pd4a.svg" alt="Vector2005156" class="cabaas-vector2004" />
        </div>
        <div class="cabaas-section5">
          <div class="cabaas-avatar4"></div>
          <div class="cabaas-container18"><span class="cabaas-text25">Cabaña 9</span>
            <div class="cabaas-selection4">
              <div class="cabaas-labelnormal4"><span class="cabaas-text26">Capacidad: 6 personas</span></div>
            </div><span class="cabaas-text27">Cabaña ubicada en zona tranquila con vista al lago</span>
          </div><button type="button" class="cabaas-button4 button">Ver Detalles</button><img
            src="public/external/vector2005156-rldd.svg" alt="Vector2005156" class="cabaas-vector2005" />
        </div>
        <div class="cabaas-section6">
          <div class="cabaas-mapcontainer"><iframe
              src="https://www.google.com/maps?q=2880 Broadway, New York;&amp;output=embed"
              class="cabaas-google-maps"></iframe></div><img src="public/external/vector2005156-ln0f.svg"
            alt="Vector2005156" class="cabaas-vector2006" />
        </div>
        <div class="cabaas-form">
          <div class="cabaas-container19"><span class="cabaas-text28">Propuesta de Cambio de Cabaña</span></div>
          <form action="{{ url_for('submit_cabana') }}" method="post" class="cabaas-list">
            <div class="cabaas-row1">
              <div class="cabaas-input1">
                <label for="nombre" class="cabaas-text29">Nombre Completo</label>
                <input type="text" id="nombre" name="nombre" class="cabaas-textfield2"
                  placeholder="Ingrese su nombre completo" required>
              </div>
              <div class="cabaas-input2">
                <label for="cedula" class="cabaas-text31">Cédula</label>
                <input type="text" id="cedula" name="cedula" class="cabaas-textfield3" placeholder="Ingrese su cédula"
                  required>
              </div>
            </div>
            <div class="cabaas-row2">
              <div class="cabaas-input3">
                <label for="explicacion" class="cabaas-text33">Explicación del Cambio</label>
                <textarea id="explicacion" name="explicacion" class="cabaas-textfield4"
                  placeholder="Explique la razón del cambio" required></textarea>
              </div>
              <div class="cabaas-selection5">
                <span class="cabaas-text35">Recibir respuesta por email</span>
                <div class="chip-group">
                  <div class="chip" data-type="True" onclick="selectChip(this)">
                    <div class="text3">Si</div>
                  </div>
                  <div class="chip" data-type="False" onclick="selectChip(this)">
                    <div class="text3">No</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cabaas-container20">
              <button type="submit" class="cabaas-button5 button">Enviar Propuesta</button>
            </div>
          </form>
        </div>
        <div class="cabaas-footer">
          <div class="cabaas-content1">
            <div class="cabaas-column1">
              <div class="cabaas-content2"><span class="cabaas-text38 HeadingDesktopH1">SBC</span><span
                  class="cabaas-text39 TextRegularNormal">Gestiona los procesos de Inscripcion y calendarios</span>
              </div>
              <div class="cabaas-actions"><button type="button" class="cabaas-button6 button">Explorar</button><button
                  type="button" class="cabaas-button7 button">Ayuda</button></div>
            </div>
            <div class="cabaas-column2">
              <div class="cabaas-link-list">
                <div class="cabaas-link1"><span class="cabaas-text40 TextSmallSemiBold">Inicio</span></div>
                <div class="cabaas-link2"><span class="cabaas-text41 TextSmallSemiBold">Contáctanos</span></div>
                <div class="cabaas-link3"><span class="cabaas-text42 TextSmallSemiBold">Ayuda Online</span></div>
                <div class="cabaas-link4"><span class="cabaas-text43 TextSmallSemiBold">Política de Privacidad</span>
                </div>
                <div class="cabaas-link5"><span class="cabaas-text44 TextSmallSemiBold">Términos de Uso</span></div>
              </div>
            </div>
          </div>
          <div class="cabaas-credits">
            <div class="cabaas-row3">
              <div class="cabaas-content3"><img src="public/external/logoproyectoluckasentdekent15156-4wf-200w.png"
                  alt="lOGOPROYECTOLuckasEntdeKent15156" class="cabaas-logoproyecto-luckas-entde-kent1" /></div>
            </div><img src="public/external/divider5156-7bzk-200h.png" alt="Divider5156" class="cabaas-divider" />
            <div class="cabaas-row4"><span class="cabaas-text45 TextSmallNormal">© 2024 LuckasEnt. Todos los derechos
                reservados.</span>
              <div class="cabaas-social-links"><img src="public/external/iconfacebook5156-baxh.svg"
                  alt="IconFacebook5156" class="cabaas-icon-facebook" /><img
                  src="public/external/iconinstagram5156-dsxz.svg" alt="IconInstagram5156"
                  class="cabaas-icon-instagram" /><img src="public/external/iconx5156-vef5.svg" alt="IconX5156"
                  class="cabaas-icon-x" /><img src="public/external/iconlinkedin5156-4f3c.svg" alt="IconLinkedIn5156"
                  class="cabaas-icon-linked-in" /><img src="public/external/iconyoutube5156-uxp.svg"
                  alt="IconYoutube5156" class="cabaas-icon-youtube" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function selectChip(selectedChip) {
      const chips = document.querySelectorAll('.chip');
      chips.forEach(chip => {
        if (chip === selectedChip) {
          chip.classList.add('active');
          chip.classList.remove('inactive');
        } else {
          chip.classList.remove('active');
          chip.classList.add('inactive');
        }
      });
    }
  </script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const slideList = document.querySelector(".cabaas-slide-list");
    const slides = Array.from(slideList.children);

    function moveCarousel() {
      // Mueve el primer elemento al final
      slideList.style.transition = "transform 0.5s ease-in-out";
      slideList.style.transform = `translateX(-${slides[0].offsetWidth + 20}px)`; // Ancho de la imagen + gap

      setTimeout(() => {
        slideList.style.transition = "none";
        slideList.style.transform = "translateX(0)";
        const firstSlide = slides.shift();
        slideList.appendChild(firstSlide);
        slides.push(firstSlide);
      }, 500); // Tiempo de la transición
    }

    // Ejecuta el carrusel cada 3 segundos
    setInterval(moveCarousel, 3000);
  });
</script>

</body>

</html>