<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Inscripción</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='css/page.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/confirmacion_inscript.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&display=swap" />
  </head>
  <body>
    <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagos</title>
</head>

<body>
  <nav class="nav-bar">
    <div class="logo">
        <span class="luckas">Luckas</span>
        <span class="ent">ent</span>
    </div>

    <div class="search-bar">
        <input type="text" placeholder="Ingresa algo que no encuentres">
        <button><i class="fas fa-search"></i></button>
    </div>

    <nav class="nav-menu">
        <a href="{{ url_for('home') }}">Inicio</a>
        <a href="{{ url_for('nosotros') }}">Nosotros</a>
        <a href="{{ url_for('cuenta') }}">Mi perfil</a>
    </nav>
  </nav>
  <div class="vale">
    <div class="examples-home-page">
      <div class="hero-actions">
        <div class="text-content-title">
          <div class="title">Listo!!</div>
          <div class="subtitle">
            Aquí esta la información de tu inscripción, que se finalizado con
            exito!!
          </div>
        </div>
        <div class="button-group">
          <div class="button">
            <div class="button2">Volver al Inicio</div>
          </div>
          <div class="button3">
            <div class="button4">Descargar Comprobante</div>
          </div>
        </div>
      </div>
      <img class="section" src="section0.png" />
      <div class="card-grid-testimonials">
        <div class="text-content-heading">
          <div class="heading">
            Personas que más se inscribieron recientemente
          </div>
          <div class="subheading">:)</div>
        </div>
        <div class="card-grid">
          <div class="testimonial-card">
            <div class="text-heading">
              <div class="text-heading2">Juanita Gomez</div>
            </div>
            <div class="avatar-block">
              <div class="avatar">
                <img class="shape" src="shape0.png" />
              </div>
              <div class="info">
                <div class="title2">DD/MM/YYYY</div>
              </div>
            </div>
          </div>
          <div class="testimonial-card">
            <div class="text-heading">
              <div class="text-heading2">Jhon Cordoba</div>
            </div>
            <div class="avatar-block">
              <div class="avatar">
                <img class="shape" src="shape1.png" />
              </div>
              <div class="info">
                <div class="title2">DD/MM/YYYY</div>
              </div>
            </div>
          </div>
          <div class="testimonial-card">
            <div class="text-heading">
              <div class="text-heading2">Steeven Pedraza</div>
            </div>
            <div class="avatar-block">
              <div class="avatar">
                <img class="shape" src="shape2.png" />
              </div>
              <div class="info">
                <div class="title2">DD/MM/YYYY</div>
              </div>
            </div>
          </div>
          <div class="testimonial-card">
            <div class="text-heading">
              <div class="text-heading2">Lucho Diaz</div>
            </div>
            <div class="avatar-block">
              <div class="avatar">
                <img class="shape" src="shape3.png" />
              </div>
              <div class="info">
                <div class="title2">DD/MM/YYYY</div>
              </div>
            </div>
          </div>
          <div class="testimonial-card">
            <div class="text-heading">
              <div class="text-heading2">Ciro Mendez</div>
            </div>
            <div class="avatar-block">
              <div class="avatar">
                <img class="shape" src="shape4.png" />
              </div>
              <div class="info">
                <div class="title2">DD/MM/YYYY</div>
              </div>
            </div>
          </div>
          <div class="testimonial-card">
            <div class="text-heading">
              <div class="text-heading2">Daniel Restrepo</div>
            </div>
            <div class="avatar-block">
              <div class="avatar">
                <img class="shape" src="shape5.png" />
              </div>
              <div class="info">
                <div class="title2">DD/MM/YYYY</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="content">
          <div class="column">
            <div class="content2">
              <div class="heading2">SBC</div>
              <div class="text2">
                Gestiona los procesos de Inscripcion y calendarios
              </div>
            </div>
            <div class="actions">
              <div class="button-primary">
                <div class="button5">Explorar</div>
              </div>
              <div class="button-primary2">
                <div class="button6">Ayuda</div>
              </div>
            </div>
          </div>
          <div class="column2">
            <div class="link-list">
              <div class="link">
                <div class="link-one">Inicio</div>
              </div>
              <div class="link2">
                <div class="link-two">Contáctanos</div>
              </div>
              <div class="link">
                <div class="link-three">Ayuda Online</div>
              </div>
              <div class="link">
                <div class="link-four">Política de Privacidad</div>
              </div>
              <div class="link">
                <div class="link-five">Términos de Uso</div>
              </div>
            </div>
          </div>
        </div>
        <div class="credits">
          <div class="row">
            <div class="content3">
              <img
              class="l-ogo-proyecto-luckas-ent-de-kent-1"
              src="l-ogo-proyecto-luckas-ent-de-kent-10.png"
            />
            </div>
          </div>
          <div class="divider"></div>
          <div class="row2">
            <div class="_2024-relume-all-rights-reserved">
              © 2024 LuckasEnt. Todos los derechos reservados.
            </div>
            <div class="social-links">
              <img class="icon-facebook" src="icon-facebook0.svg" />
              <img class="icon-instagram" src="icon-instagram0.svg" />
              <img class="icon-x" src="icon-x0.svg" />
              <img class="icon-linked-in" src="icon-linked-in0.svg" />
              <img class="icon-youtube" src="icon-youtube0.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
    <script type="module" src="script.js"></script>
  </body>
</html>