<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion pagos</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/gestionrol.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&display=swap" />
</head>
<body>
    {% include "include/Nav.html" %}
    <header class="header">
        <div>🔘 Sistema de Gestión Integral del Seminario Bautista de Colombia</div>
        <input type="search" placeholder="Buscar en el sitio">
      </header>
    
      <main>
        <section class="gestion-usuarios">
          <h2>Gestión de Usuarios</h2>
          <p>Administra todos los usuarios del sistema.</p>
          <button>Crear nuevo usuario</button>
    
          <div class="busqueda-filtros">
            <input type="text" placeholder="Buscar usuario por nombre o correo">
            <div class="filtros">
              <span>Filtrar por rol:</span>
              <button>Administrador</button>
              <button>Estudiante</button>
              <button>Profesor</button>
              <button>Organizador</button>
            </div>
          </div>
        </section>
    
        <section class="paginacion">
          <h3>Paginación</h3>
          <p>Muestra la cantidad de filas y usuarios registrados</p>
          <div class="inputs">
            <label>Total de usuarios: <input type="number" value="50"></label>
            <label>Usuarios por página: <input type="number" value="30"></label>
          </div>
        </section>
    
        <section class="crear-usuario">
          <h3>Crear Nuevo Usuario</h3>
          <p>Ingresa los detalles del nuevo usuario.</p>
          <form>
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Apellido">
            <input type="text" placeholder="Cédula">
            <input type="email" placeholder="Correo Electrónico">
            <input type="text" placeholder="Teléfono">
            <input type="text" placeholder="Dirección">
    
            <div class="roles">
              <label>Rol:</label>
              <button>Estudiante</button>
              <button>Profesor</button>
              <button>Organizador</button>
            </div>
    
            <div class="estado">
              <label>Estado:</label>
              <button>Activo</button>
              <button>Inactivo</button>
            </div>
    
            <div class="acciones">
              <button type="reset">Cancelar</button>
              <button type="submit">Guardar</button>
            </div>
          </form>
        </section>
      </main>
  
  </body>
  <footer>{% include "include/piepag.html" %}</footer>
</html>