<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestión de Personas</title>
  <link rel="icon" href="{{ url_for('static', path='img/lOGO PROYECTO LuckasEnt.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='css/gest_personas.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='css/footer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='css/header.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&display=swap" />
</head>

<body>
  {% include "include/Nav.html" %}
  
  <!-- Contenido principal -->
  <div class="gesti-n-de-personas">
    <div class="section">
      <div class="container">
        <div class="title">Gestión de personas</div>
        <div class="description">
          Aquí podras registrarte para eventos del Seminario
        </div>
      </div>
      <div class="image-container">
        <img class="image"
          src="https://images.unsplash.com/photo-1543269865-cbf427effbad?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
      </div>
      <img class="vector-200" src="vector-2000.svg" />
    </div>
    <div class="products">
      <div class="container2">
        <div class="container">
          <div class="title">Eventos Actuales</div>
        </div>
      </div>
      <div class="list">
        <div class="row">
          <div class="card">
            <img class="image-container2" src="image-container1.png" />
            <div class="text-content">
              <div class="title2">Matrimonio de Derly y Alex</div>
              <div class="title3">Fecha limite: 1/01/2026</div>
              <div class="subtitle">Costo: $XX.XX</div>
              <div class="description2">
                <a href="" class="inscription-link">Inscribirse</a>
              </div>
            </div>
          </div>
          <div class="card">
            <img class="image-container2" src="image-container2.png" />
            <div class="text-content">
              <div class="title2">Por Su Causa 2024</div>
              <div class="title3">Fecha limite: 1/01/2026</div>
              <div class="subtitle">Costo: $XX.XX</div>
              <div class="description2">
                <a href="" class="inscription-link">Inscribirse</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="image-container3">
              <div class="image2" style="
                  background: url(image1.png) center;
                  background-size: cover;
                  background-repeat: no-repeat;
                ">
                <div class="tag">
                  <div class="text2">Ultimos cupos</div>
                </div>
              </div>
            </div>
            <div class="text-content">
              <div class="title2">Hombradia</div>
              <div class="title3">Fecha limite: 1/01/2026</div>
              <div class="subtitle">Costo: $XX.XX</div>
              <div class="description2">
                <a href="" class="inscription-link">Inscribirse</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="image-container3">
              <div class="image2" style="
                  background: url(image2.png) center;
                  background-size: cover;
                  background-repeat: no-repeat;
                ">
                <div class="tag">
                  <div class="text2">Nuevo</div>
                </div>
              </div>
            </div>
            <div class="text-content">
              <div class="title2">Product 1</div>
              <div class="title3">Fecha limite: 1/01/2026</div>
              <div class="subtitle">Costo: $XX.XX</div>
              <div class="description2">
                <a href="" class="inscription-link">Inscribirse</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="description3">
        <a href="" class="inscription-link">Ver Más Eventos</a>
      </div>
      <img class="vector-2002" src="vector-2001.svg" />
    </div>
    <div class="list2">
      <div class="container3">
        <div class="title4">Eventos Anteriores</div>
      </div>
      <div class="vitrina-favoritos-chevron">
        <img class="chevron-left" src="{{ url_for('static', path='img/chevronleft5078-8qwk.svg') }}" />
        <div class="row2">
          <div class="card">
            <div class="image-container4">
              <div class="image3">
                <div class="title5">Imagen1</div>
                <div class="tag">
                  <div class="text2">Activo</div>
                </div>
              </div>
            </div>
            <div class="text-content">
              <div class="title2">Edición 1</div>
              <div class="subtitle">Participantes: 50</div>
            </div>
          </div>
          <div class="card">
            <div class="image-container4">
              <div class="image3">
                <div class="title5">Imagen2</div>
                <div class="tag">
                  <div class="text2">Activo</div>
                </div>
              </div>
            </div>
            <div class="text-content">
              <div class="title2">Edición 2</div>
              <div class="subtitle">Participantes: 45</div>
            </div>
          </div>
          <div class="card">
            <div class="image-container4">
              <div class="image3">
                <div class="title5">Imagen3</div>
                <div class="tag">
                  <div class="text2">Activo</div>
                </div>
              </div>
            </div>
            <div class="text-content">
              <div class="title2">Edición 3</div>
              <div class="subtitle">Participantes: 60</div>
            </div>
          </div>
        </div>
        <img class="chevron-right" src="{{ url_for('static', path='img/chevronright5078-agt8.svg') }}" />
      </div>
      <img class="vector-2003" src="vector-2002.svg" />
    </div>
</body>
<!-- Footer -->
<footer>{% include "include/piepag.html" %}</footer>
</html>