<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luckas Header</title>
    <link rel="icon" href="{{ url_for('static', path='img/lOGO PROYECTO LuckasEnt.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/page.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&display=swap" />

</head>

<body>
    <nav class="nav-bar">
        <div class="logo">
            <span class="luckas">Luckas</span>
            <span class="ent">ent</span>
        </div>

        <div class="search-bar">
            <input type="text" placeholder="Ingresa algo que no encuentres">
            <button><i class="fas fa-search"></i></button>
        </div>

        <nav class="nav-menu">
            <a href="{{ url_for('home')}}">Inicio</a>
            <a href="{{ url_for('nosotros')}}">Nosotros</a>
            <a href="{{ url_for('cuenta') }}">Mi perfil</a>
        </nav>

    </nav>
    <!-- Menú de arriba -->

    <div class="pageuser-products">
        <div class="pageuser-container3"><span class="pageuser-text15">Modulos</span></div>
        <div class="pageuser-frame427318919">
            <div class="pageuser-list1">
                <div class="pageuser-row1">
                    <div class="pageuser-card1">
                        <div class="pageuser-frame4273203151"><img
                                src="https://images.unsplash.com/photo-1543269865-cbf427effbad?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="Gestión de personas" class="pageuser-unsplash-dvrxfih42d01" />
                        </div>
                        <div class="pageuser-textcontent1">
                            <h3 class="pageuser-text16">Gestión de personas</h3>
                            <p class="pageuser-text17">Aquí podrás registrarte para eventos del Seminario</p>
                            <button class="pageuser-buttonprimary2">
                                <a class="pageuser-text21" href="{{ url_for('gest_personas') }}">Ver módulo</a>
                            </button>
                        </div>
                    </div>
                    <div class="pageuser-card2">
                        <div class="pageuser-frame4273203151"><img
                                src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="Gestión de personas" class="pageuser-unsplash-dvrxfih42d01" />
                        </div>
                        <div class="pageuser-textcontent1">
                            <h3 class="pageuser-text19">Inscripciones</h3>
                            <p class="pageuser-text20">Aquí podrás inscribirte como Seminarista fácilmente.</p>
                            <button class="pageuser-buttonprimary2">
                                <span class="pageuser-text21">Ver módulo</span>
                            </button>
                        </div>
                    </div>
                    <div class="pageuser-card3">
                        <div class="pageuser-frame4273203151"><img
                                src="https://images.unsplash.com/photo-1506784365847-bbad939e9335?q=80&w=2068&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="Gestión de personas" class="pageuser-unsplash-dvrxfih42d01" /></div>
                        <div class="pageuser-textcontent1">
                            <h3 class="pageuser-text16">Ver Calendario de eventos</h3>
                            <p class="pageuser-text17">Planificar y comunicar las actividades del seminario.</p>
                            <button class="pageuser-buttonprimary2"><span class="pageuser-text21">Ver módulo</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pageuser-row2">
            <div class="pageuser-card4">
                <div class="pageuser-frame4273203151"><img
                        src="https://images.unsplash.com/photo-1642612374066-afa81e251991?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="Gestión de personas" class="pageuser-unsplash-dvrxfih42d01" /></div>
                <div class="pageuser-textcontent1">
                    <h3 class="pageuser-text16">Ver Asignación de cabañas</h3>
                    <p class="pageuser-text17">Aquí pudes ver donde te toco alojarte</p>
                    <button class="pageuser-buttonprimary2">
                        <a class="pageuser-text21" href="{{ url_for('cabana') }}">Ver módulo</a>
                    </button>
                </div>
            </div>
            <div class="pageuser-card5">
                <div class="pageuser-frame4273203151"><img
                        src="https://images.unsplash.com/photo-1585853088189-7c7fadd9b38e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="Gestión de personas" class="pageuser-unsplash-dvrxfih42d01" /></div>
                <div class="pageuser-textcontent1">
                    <h3 class="pageuser-text16">Asignación de tareas</h3>
                    <p class="pageuser-text17">Permite conocer las tareas de los equipos</p>
                    <button class="pageuser-buttonprimary2"><span class="pageuser-text21">Ver módulo</span>
                    </button>
                </div>
            </div>
            <div class="pageuser-card6">
                <div class="pageuser-frame4273203151"><img
                        src="https://images.unsplash.com/photo-1667314048804-9137e456dd00?q=80&w=2075&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="Gestión de personas" class="pageuser-unsplash-dvrxfih42d01" /></div>
                <div class="pageuser-textcontent1">
                    <h3 class="pageuser-text16">Ver Calendario para alquilar finca</h3>
                    <p class="pageuser-text17">Generar información útil para análisis, planificación y presentación.</p>
                    <button class="pageuser-buttonprimary2"><span class="pageuser-text21">Ver módulo</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="pageuser-data-metrics">
        <div class="pageuser-container5">
            <div class="pageuser-container6"><span class="pageuser-text51">Anuncios</span>
                <span class="pageuser-text52">Podras ver las actividades del seminario.</span>
            </div>
        </div>
        <div class="pageuser-list3">
            <div class="pageuser-row4">
                <div class="pageuser-metric"><span class="pageuser-text53">1/01/2026</span><span
                        class="pageuser-text54">Exameles Trimestrales y sus resultados</span><span
                        class="pageuser-text55">Querido estudiante, te informamos que los resultados de tus
                        pruebas ya se pueden ver</span></div>
            </div>
        </div>
        <span class="pageuser-text56"> Ver Más Anuncios</span>
    </div>
    <div class="pageuser-list2">
        <div class="pageuser-container4"><span class="pageuser-text38">Eventos Anteriores</span></div>
        <div class="pageuser-vitrinafavoritoschevron"><img
                src="{{ url_for('static', path='img/chevronleft5078-8qwk.svg') }}" alt="chevronleft5078"
                class="pageuser-chevronleft" />
            <div class="pageuser-row3">
                <div class="pageuser-card7">
                    <div class="pageuser-imagecontainer5">
                        <div class="pageuser-image5"><span class="pageuser-text39">Imagen1</span>
                            <div class="pageuser-tag1"><span class="pageuser-text40">Activo</span></div>
                        </div>
                    </div>
                    <div class="pageuser-textcontent7"><span class="pageuser-text41">Edición 1</span><span
                            class="pageuser-text42">Participantes: 50</span></div>
                </div>
                <div class="pageuser-card8">
                    <div class="pageuser-imagecontainer6">
                        <div class="pageuser-image6"><span class="pageuser-text43">Imagen2</span>
                            <div class="pageuser-tag2"><span class="pageuser-text44">Activo</span></div>
                        </div>
                    </div>
                    <div class="pageuser-textcontent8"><span class="pageuser-text45">Edición 2</span><span
                            class="pageuser-text46">Participantes: 45</span></div>
                </div>
                <div class="pageuser-card9">
                    <div class="pageuser-imagecontainer7">
                        <div class="pageuser-image7"><span class="pageuser-text47">Imagen3</span>
                            <div class="pageuser-tag3"><span class="pageuser-text48">Activo</span></div>
                        </div>
                    </div>
                    <div class="pageuser-textcontent9"><span class="pageuser-text49">Edición 3</span><span
                            class="pageuser-text50">Participantes: 60</span></div>
                </div>
            </div><img src="{{ url_for('static', path='img/chevronright5078-agt8.svg') }}" alt="chevronright5078"
                class="pageuser-chevronright" />
        </div>
    </div>
</body>
<footer>
    <div class="footer">
        <div class="footer-content">
            <div class="footer-column">
                <div class="footer-info">
                    <div class="footer-heading">SBC</div>
                    <div class="footer-text">
                        Gestiona los procesos de Inscripcion y calendarios
                    </div>
                </div>
                <div class="footer-actions">
                    <button class="footer-btn-primary">
                        <a href="#" class="footer-btn-text-primary">Explorar</a>
                    </button>

                    <button class="footer-btn-secondary">
                        <a id="Ayuda" href="#" class="footer-btn-text-secondary">Ayuda</a>
                    </button>
                </div>
            </div>
            <div class="footer-links-column">
                <div class="footer-link-list">
                    <div class="footer-link-item">
                        <a href="#" class="footer-link">Inicio</a>
                    </div>
                    <div class="footer-link-item">
                        <a href="#" class="footer-link">Contáctanos</a>
                    </div>
                    <div class="footer-link-item">
                        <a href="#" class="footer-link">Ayuda Online</a>
                    </div>
                    <div class="footer-link-item">
                        <a href="#" class="footer-link">Política de Privacidad</a>
                    </div>
                    <div class="footer-link-item">
                        <a href="{{ url_for('termino') }}" class="footer-link">Términos de Uso</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-credits">
            <div class="footer-logo-row">
                <div class="footer-logo-container">
                    <img class="footer-logo" src="{{ url_for('static', path='img/lOGO PROYECTO LuckasEnt.png') }}" />
                </div>
            </div>
            <div class="footer-divider"></div>
            <div class="footer-bottom-row">
                <div class="footer-copyright">
                    © 2024 LuckasEnt. Todos los derechos reservados.
                </div>
                <div id="contacto" class="footer-social-links">
                    <a href="https://facebook.com" target="_blank">
                        <img class="footer-social-icon" src="{{ url_for('static', path='img/Facebook.png') }}"
                            alt="Facebook" />
                    </a>
                    <a href="https://twitter.com" target="_blank">
                        <img class="footer-social-icon" src="{{ url_for('static', path='img/X.png') }}" alt="Twitter" />
                    </a>
                    <a href="https://instagram.com" target="_blank">
                        <img class="footer-social-icon" src="{{ url_for('static', path='img/Instagram.png') }}"
                            alt="Instagram" />
                    </a>
                    <a href="https://linkedin.com" target="_blank">
                        <img class="footer-social-icon" src="{{ url_for('static', path='img/LinkedIn.png') }}"
                            alt="LinkedIn" />
                    </a>
                    <a href="https://youtube.com" target="_blank">
                        <img class="footer-social-icon" src="{{ url_for('static', path='img/Youtube.png') }}"
                            alt="YouTube" />
                    </a>
                </div>

            </div>
        </div>
    </div>
</footer>

</html>