<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi sitio{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/footer.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&display=swap" />
</head>
<body>

    {% include "include/Nav.html" %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include "include/piepag.html" %}

</body>
</html>
