
<!-- NAVBAR -->
<nav class="navbar">
    <!-- Logo principal -->
    <div class="logo">
      <span class="luckas">Luckas</span>
      <span class="ent">ent</span>
  </div>
  
    <!-- Barra de búsqueda -->
    <div class="search-bar">
      <input type="text" placeholder="Ingreses algo que no encuentres">
      <button><i class="fas fa-search material-symbols-outlined" >search</i></button>
    </div>

    <!-- Enlaces de menú -->
    <div class="menu-links">
      <a href="">Inicio</a>
      <a href="">Nosotros</a>
      <a href="#">Perfil</a>
      <span class="user-icon">👤</span>
    </div>
  </nav>
  